.icobutton{
  font-size:3em;
  position:relative;
  margin:0;
  padding:0;
  color: #c0c1c3;
  border:0;
  background:none;
  overflow:visible;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.icobutton .fa{
  display:block;
  padding: 0 0.1em;
}

.icobutton svg{
  left:0;
}

.icobutton:hover, .icobutton:focus{
  outline:none;
}

.fa-border {
  border: 1px solid #000;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}