export OAUTH_CLIENT_ID=xxx
export OAUTH_CLIENT_SECRET=xxx
export OAUTH_DOMAIN=cilogon.org
#export OAUTH_CLIENT_ID=xxx
#export OAUTH_CLIENT_SECRET=xxx
#export OAUTH_DOMAIN=orcid.org

export K8S_NAMESPACE=xxx
export SECRET_KEY=xxx
# change to DEBUG=False when running in production
export DEBUG=True

export MAIL_SERVER=xxxx
export MAIL_PORT=xxxx
export MAIL_USERNAME=xxxx
export MAIL_SENDTO=xxxx
export MAIL_PASSWORD=xxxx

export MAP_GEOJSON_JS=xxxx
export MAP_CENTER_LAT=xxxx
export MAP_CENTER_LNG=xxxx
export MAP_ZOOM_LEVEL=xxxx

# Pontos do mapa (formato JSON)
export MAP_POINTS=xxxx
export TESTBED_TITLE=xxxx

# Enable or disable the Collaborative Labs feature
ENABLE_CLABS=true

BRAND_LOGO_URL=/static/assets/img/hackinsdn.png
BRAND_LOGO_ALT=HackInSDN
BRAND_HREF=/