flask
Werkzeug
jinja2
flask-login
flask_migrate
WTForms
flask_wtf
flask-sqlalchemy
sqlalchemy
email_validator
flask-restx
authlib @ git+https://github.com/italovalcy/authlib@v1.5.1-p1
requests
python-dotenv
gunicorn
eventlet
Flask-Minify
flask_socketio
kubernetes
markdown2
flask_mail
Flask-Caching
PyYAML>=6.0.1,<7
gitpython

# flask_mysqldb
# psycopg2-binary
