  <!-- /.content-wrapper -->
  <footer class="main-footer">
    &copy; <a target="_blank" rel="noopener noreferrer" href="https://adminlte.io">Dashboard HackInSDN</a>
    <!--- based on <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">AdminLTE by AppSeed</a>-->
    <div class="float-right d-none d-sm-inline-block">
      <a target="_blank" rel="noopener noreferrer" 
          href="https://hackinsdn.ufba.br">GT HackInSDN - Projeto Hackers do Bem</a> 
    </div>
  </footer>
